#p11-toolbar {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 999999;

  background: rgba(20, 20, 20, 0.95);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 2px;
  width: 70px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: Arial, sans-serif;
}

#p11-toolbar button {
  padding: 6px 4px;
  border: none;
  border-radius: 6px;
  background: #444;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  transition: 0.15s;
}

#p11-toolbar button:hover {
  background: #ff7f2a;
}

#p11-toolbar button:active {
  transform: translateY(1px);
}
